<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inon Weather App</title>
        <meta name="description" content="weather app">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="static/weather.ico" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body background="static/clouds-bg.jpeg">
        <div class="clearfix">...</div>
        <header>
            {% block time %}
            <!--
                    <div class="time container-fluid opacity-75">
                    <div class="row align-items-center text-white">
                        <div class="col">
                            <p>{{ now_local.strftime('%X | %A, %d %B, %Y') }} <b>(now_local)</b></p>
                        </div>
                        <div class="col">
                            <p>{{ now }} <b>(UTC)</b></p>
                        </div>
                        <div class="col">
                            <p>{{ now_utc.strftime('%X | %A, %d %B, %Y') }} <b>(now_utc)</b></p>
                        </div>
                    </div>
                </div>
            {% endblock time %}
        -->
         </header>
        <div class="search container-fluid align-content-center">
            <form action ="/search" method="get" class="row align-items-center">
            <div class="col">
                <input type="text" class="form-control rounded" name="city" id="city" placeholder="Search city..." required>
            </div>
            <div class="col">
                <button type="submit" value ="submit" class="btn btn-primary btn-blue rounded">Go!</button>
            </div>
            </form>
        </div>

        {% block weather %}
        <section class="weather-forecast">
            <div class="weather container-fluid opacity-75">
                <div class="card text-dark bg-link text-center">
                    {# <figure class="figure"> #}
                        {# <img src="static/rawImage.jpeg" class="img-fluid rounded float-start d-block" width="150" alt=""> #}
                    {# </figure> #}
                    <div class="card-body align-items-center">
                        <h1 class="weather-city card-title">{{ weather.city }}, {{ weather.country }}</h1>
                        <span>
                            <h6 class="weather-description text-muted card-subtitle">{{ weather.main_description }} ({{ weather.description }})</h6>
                            <figure class="figure">
                                <img src="https://openweathermap.org/img/w/{{ weather.icon }}.png" class="img-fluid" alt="{{ weather.main_description }}">
                            </figure>
                            <h3 class="card-subtitle">Current: {{ weather.temperature }}&#8451;</h3>
                        </span>
                        <p class="card-subtitle text-muted">Sunrise: {{ weather.sunrise_local }}</p>
                        <p class="card-subtitle text-muted">Sunset: {{ weather.sunset_local }}</p>
                        <p></p>
                        <p class="forecast-city-population card-subtitle text-muted">Population: {{ forecast_data.population }}</p>
                </div>
            </div>
        </section>
            <section class="weather-forecast opacity-75">
                <h3 class="text-center text-white opacity-75"><b>&#9729; FIVE DAY FORECAST &#9729;</b></h3>
                <div class="card text-dark bg-link text-center">
                    <div class="card-body align-items-center">
                    <div class="weather-forecast container-fluid">
                        <div class="row align-items-center">
                        <!--{% for day in daily_times %}
                            <h5 class="card-title">{{ dailytimes[day] }}</h5>  
                        {% endfor %}
                        -->
                        {% for daily in daily_forecast %}
                            {# {{ icon = cast['weather']['icon'] }} #}
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ daily['dt_txt'] }}</h5>
                                        {# <h5 class="card-title">{{ daily_times[i] }}</h5> #}
                                    <!--
                                            <figure class="figure">
                                            <img src="https://openweathermap.org/img/w/{{ daily['weather']['icon'] }}.png" class="img-fluid" alt="{{ weather.main_description }}">
                                        </figure>
                                    -->
                                        <h6 class="card-subtitle text-muted"> {{ daily['weather']['main'] }}</h6>
                                        <h6 class="card-subtitle text-muted"> {{ daily['main']['temp'] }}&#8451;</h6>
                                        <p class="card-text">{{ daily['main']['humidity'] }}% Humidity</p>
                                        <p class="card-text">feels like {{ daily['main']['feels_like'] }}&#8451;</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </section>
            
        </div>
        {% endblock weather %}
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
