<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Scytale Pull Request API Dashboard</title>
        <meta name="description" content="scytale pr manager">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body background="/static/background.jpg">
    <div class="clearfix"></div>
    </div>
    <section class="section mt-4 px-4">
        <div class="container-fluid bg-white opacity-75">
            <table class="table text-black">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Labels</th>
                        <th>Creation Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in prs_data %}
                    <tr>
                        <td>#{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.author_name }}</td>
                        <td>{{ item.status }}</td>
                        <td>{% for label in item.labels %}
                            {{ label }}
                        {% endfor %}</td>
                        <td>{{ item.date_created }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>


