<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inon Weather App</title>
        <meta name="description" content="weather app">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="static/weather.ico" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body background="static/clouds-bg.jpeg">
        <div class="clearfix"></div>
        <header>
        <div class="text-white">{% block times %}{{ now_utc.strftime('%A, %D %H:%M:%S') }}{% endblock times %}</div>
        </header>
        <div class="search container-fluid align-content-center">
            <form action ="/search" method="get" class="row align-items-center mt-5">
            <div class="col">
                <input type="text" class="form-control rounded" name="city" id="city" placeholder="Search city..." required>
            </div>
            <div class="col">
                <button type="submit" value ="submit" class="btn btn-primary btn-blue rounded">Go!</button>
            </div>
            </form>
        </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
